@import "tailwindcss";

:root {
  --background: #f4f5f7;
  --foreground: #2a2d53;
  --accent: #4A6DFC;
  --accent-soft: #4a6efcdc;

  --border: #e5e7eb;
  --muted: #6b7280;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--vazirmatn-font), sans-serif;
  direction: rtl;
}



@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-accent {
    color: var(--accent);
  }

  .text-white {
    color: var(--background);
  }

  .text-blue {
    color: var(--foreground);
  }

  .accent-soft {
    background: var(--accent-soft);
  }
}