@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #2563eb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--vazirmatn-font), sans-serif;
  direction: rtl;
}