@import "tailwindcss";

/* ---------- Variables ---------- */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #2563eb;
  --accent-hover: #1d4ed8;
  --accent-soft: #dbeafe;

  --border: #e5e7eb;
  --muted: #6b7280;
}

/* ---------- Body ---------- */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--vazirmatn-font), sans-serif;
  direction: rtl;
  /* راست‌چین */
}


/* styles/accent.css */
.bg-accent {
  background-color: var(--accent);
}

.bg-accent-hover:hover {
  background-color: var(--accent-hover);
}

.text-accent {
  color: var(--accent);
}